.content {
  display: flex;
  max-height: 83vh;
}

.categoryList {
  display: inline-block;
  width: 100%;
  transition: width 0.5s;
}

.col.categoryList  {
  border-right: 6px solid #1565c0;
}

.brandsList {
  display: inline-block;
  width: 74%;
  transition: width 0.5s;
}

.col {
  width: 25%;
  overflow-y: auto;
}


.productCard {
  margin: 16px;
  width: 44%;
  border-radius: 15px;
  border: 6px solid #1565c0;
  animation-name: slide;
  animation-duration: 0.8s;
  box-shadow: 4px 4px 16px 5px rgba(0,0,0,0.4);
}

@keyframes slide {
  0% {
    position: absolute;
    opacity: 0;
    right: -100vw
  }

  50% {
    opacity: 0;
  }

  100% {
    position: relative;
    opacity: 1;
    right: 0;
  }
}
