.ProductPage {
  padding: 1em;
}
.productHeader {
  font-size: 2em;
  color: #1565c0;
}

.productLogo {
  height: 260px;
}
.productLogoWrapper {
  padding: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  border: 8px solid #1565c0;
  border-radius: 30px;
}
.productPriceWrapper {
  padding: 24px;
  font-size: 2em;
}

.productPrice {
  font-weight: bold;
  color: #1565c0;
}

.productDescriptionWrapper {
  color: #1565c0;
  font-size: 1.4em;
  padding: 1em;
}
