.link {
  display: block;
  text-decoration: none;
  color: #1565c0;
  font-weight: bold;
  font-size: 2em;
  padding: 10px 16px;
  border: 8px solid #1565c0;
  border-radius: 0.5em;
  transition: 0.3s;
  cursor: 'none'
}

.link:hover {
  transition: 0.3s ease-out;
  background-color: rgba(0,0,255, 0.05);
  cursor: none;
}

.active, .active:hover {
  background-color: #1565c0;
  color: #fff;
}


.active {
  transition: 0.3s ease-out;
  background-color: #1565c0;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .link {
    font-size: 1.2em;
    border-radius: 1em;
  }
}