header {
  transition: 1s;
}

.line {
  height: 6px;
  transition: 1s;
  margin: 0 auto;
  background-color: #1565c0;
}

.nb-logo {
  display: flex
}

.p {
  color: #1565c0;
  font-size: 120px;
}

.ordinary .p { display: none }

.ordinary {
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: start;
}

.ordinary + .line {
  width: 100%
}

.entry {
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  /* align-items: center; */
  justify-items: center;
}

.entry +  .line {
  width: 0
}

/* @media (max-width: 816px) {
  header {
    grid-template-columns: 1fr;
    justify-items: center;
  }
} */
