header {
  transition: 1s;
}

.line {
  height: 6px;
  transition: 1s;
  margin: 0 auto;
  background-color: #1565c0;
}

.nb-logo {
  display: flex
}

.p {
  color: #1565c0;
  font-size: 120px;
}

.ordinary .p { display: none }

.ordinary {
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: start;
  background-color: #fff;
}

.ordinary + .line {
  width: 100%
}

.entry {
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #fff;
}

.entry +  .line {
  width: 0
}
.adminWrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.admin {
  /* position: absolute; */
  margin: 0;
  padding: 0;
  right: 0;
  top: 42px;
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column; */
  z-index: 1;
  margin: 0 16px ;
}

.admin a {
  padding: 16px;
  text-decoration: none;
  color: #1565c0;
}

.admin ul{
  display: none;
  position: absolute;
  list-style: none;
  padding: 4px;
  background: #fff;
  border: 2px solid #1565c0;
  top: 0;
  right: 0;
}

.admin li {
  display: none;
  align-items: center;
  justify-content: center;
  width: auto;
}

.admin ul:hover {
  
  box-shadow: 4px 4px 16px 5px rgba(0,0,0,0.4);
}

.admin:hover ul {
  display: flex;
}
.admin:hover li {
  display: flex;
}

@media screen and (max-width: 768px) {
  .ordinary {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    z-index: 100;
  }

  .p {
    display: block;
    font-size: 48px;
    padding: 0px;
    margin: 0;
  }

  .nb-logo {
    display: block;
  }
}