header {
  transition: 1s;
}

.line {
  height: 6px;
  transition: 1s;
  margin: 0 auto;
  background-color: #1565c0;
}

.nb-logo {
  display: flex
}

.p {
  color: #1565c0;
  font-size: 120px;
}

.ordinary .p { display: none }

.ordinary {
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: start;
  background-color: #fff;
}

.ordinary + .line {
  width: 100%
}

.entry {
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  /* align-items: center; */
  justify-items: center;
  background-color: #fff;
}

.entry +  .line {
  width: 0
}

@media screen and (max-width: 768px) {
  .ordinary {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    z-index: 100;
  }

  .p {
    display: block;
    font-size: 48px;
    padding: 0px;
    margin: 0;
  }

  .nb-logo {
    display: block;
  }
}