.navbar {
  width: 100%;
  transition: 1s
}

.navbar ul {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1em;
}

.navbar li {
  display: block;
  /* list-style-type: none; */
}
